/*
===================================================================
    RESPONSIVE CSS HERE 
===================================================================

*/


@media(max-width:480px){
.logoarea img {
	width: 100%;
}
.logoarea {
	width: 60%;
	margin-right: 0px;
}    
.mainavbararea {
	padding: 10px 5px 10px 5px !important;
	margin: 0px !important;
}    

.viewpromainavataer {
	margin-right: 15px;
	width: 80%;
}    
.viewpropsaltitledesc {
	padding-right: 20px;
	width: 100%;
}  
    
.freeprotoparea figure img {
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 100%;
	margin-right: 60px;
}

.freetoptitledes h2{
    font-size: 20px;
    margin-bottom: 0px;
}    

.freetoptitledes h4{
    font-size: 16px;
}    
    
}














@media (max-width: 575.98px) {
.headtopcatlistin ul li a {
	padding: 3px 5px;
	font-size: 10px;
}
.wanttoworkc {
	margin-right: 0px;
	margin-bottom: 15px;
}    
    
.mainavbararea {
	padding: 10px 10px 10px 20px !important;
	margin: 0px !important;
}   
.bannerarea{
    height:100%;
    min-height:100%;
}    
    
.bannerinnform {
	padding-top: 0px;
}    
 .bannerinnform h1 {
	font-size: 32px;
} 
.single_catarea8 a h6, .single_catarea7 a h6, .single_catarea6 a h6, .single_catarea5 a h6, .single_catarea4 a h6, .single_catarea3 a h6, .single_catarea2 a h6, .single_catarea a h6 {
	font-size: 12px;
}    
.filteringjob h4 {
	margin: 0px;
	font-size: 14px;
}
.filterinItems ul li {
	margin-right: 5px;
	padding: 8px 5px;
	display: block;
}    
.sortingtitle h4 {
	margin: 0px;
	font-size: 14px;
}    
  
.singleRproarea h3 {
	font-size: 16px;
} 
    
.searchformbanner input {
	width: 60%;
}    
.searchformbanner button {

	width: 30%;
}    
 .howitowrksinner {
	margin-bottom: 30px;
}
.recentjobsorting {
	-webkit-display: flex;
	display: flex;
	justify-content: start;
	align-content: start;
	padding-bottom: 10px;
}   
.filteringjobarea {
	border-right: none;
	display: flex;
}  
    
.single_brtocatarea {
	margin-bottom: 40px;
} 
  
.copyright p,    
 .socialmedifooter ul {
	text-align: center;
}   
  
    
.filteringjobarea {
	border-right: none;
	display: block;
}    
 .filteringdropdown4 ul, .filteringdropdown3 ul, .filteringdropdown2 ul, .filteringdropdown ul {
	width: 220px;
}   
 
.singleRecentJpostarea {
	display: block;
	padding: 20px;
}    
.recentsidebarjob {
	margin-top: 30px;
}    
    
.singleRjpostarea {
	text-align: left;
} 
    
.maincollapsearea ul li a {
	padding: 10px 20px !important;
}    
    
.referbyemail input {
	width: 55%;
}    
.referelpaginner p {
	width: 80%;
}    
.referebysocialmei button {
	margin-right: 10px;
	margin-bottom: 10px;
}     

.referbyemail button{
    padding: 10px 10px;
}
    
.loginemailuserarea form input {
	width: 100%;
}   
.remembermearea {
	width: 100%;
}    
    
 .socialmedisignin a {
	margin-bottom: 10px;
}   
 
.hireworkinput {
	width: 100%;
}    
.single_catarea {
	margin-bottom: 20px;
}   
.browseProRightarea {
	margin-top: 20px;
} 
 .recentjobfiltering {
	display: block;
     
    }
    
.filteringtitle {
	margin-right: 0px;
	margin-bottom: 10px;
}    
.filteringdetailsb a {
	padding: 6px 12px;
	margin-right: 5px;
    
    
    
}

.mainavbararea {
	padding: 10px 10px 10px 20px !important;
	margin: 0px !important;
}    
    
.advertisementspace{
    margin-top:20px;
} 
    
.singtimeframonly,    
.singbudgetonly {
	border-right:none;
}    
    
.singlepbudtimearea {
	display: block;
}       
 .singletimeopen {
	text-align: left;
     margin:20px 0px;
}   
.spbidbutton {
	text-align: left;
}
       
.sprojobdetailsmainare {
	display: block;
}    
 .sprojectDescription {
	/* flex: 1; */
	width: 100%;
	margin-right: 0px;
}   
    
.sprobuyerinfoarea {
	width: 60%;
	margin: 0px auto;
}  
    
.freebidareadetails {
	display: block;
}    
.freebidreputation ul {
	text-align: left;
	padding-bottom:5px;
}    
 
.freebidreputation {
	text-align: left;
}    
.freebidreputation {
	margin-top: 15px;
} 
.freebidprice {
	text-align: left;
	margin-top: 10px;
}    

.freebidtitlearea h4 {
	color: #fff;
	font-size: 14px;
}   
    
.single_browfilterone form input[type="submit"], .postajobareainner form input[type="submit"] {
	padding: 10px 45px;
}    
    
.profilephotosize {
	width: 30px;
	height: 30px;
	position: relative;
	left: 0;
	/* padding-right: 10px; */
	top: 0px;
}    
   
.signeFreelancerSec {
	display: block;
}    
.singleFreeSkills ul li a{
    margin-bottom: 5px;
}  
    
.paginationList ul li a {
	padding: 3px 6px;
	font-size: 13px;
} 
    
.placebidarea {
	display: block;
}   
.placebidinputarea {
	width: 100%;
}    

.placebidLabelarea{
    width:100%;
}
    
.deliverinputbox {
	width: 60%;
}    
    
.placbidpamount span{
    margin-bottom: 15px;
    display: block;
    
}    
  
.bordertopareamobile {
	border-top: 1px solid #ddd;
	margin-top: 20px;
}   
  
    
.myprojecaltileopenpro {
	display: block;
}    
.myprsinglttile {
	text-align: left;
}  
    
.myprsinglttile h5{
    font-size: 14px;
    margin-bottom: 8px;
}    
    
.myprotitle a{
    margin-right:0px;
    margin-bottom: 10px;

}    
.myallopenprodetails {
    display: block;
}   
.myallprtitle {
	text-align: left;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	padding-left: 10px;
}
    
.myallprtitle:last-child{
    border-bottom: none;
}  
    
.awaredeprotitle h2 {
	margin: 0px;
	font-size: 32px;
}    
.awardedProjleftside {
	margin-bottom: 30px;
}       
.awardedprallinfo {
	display: block;
}   
.awardedsiinfo {
	border-right: none;
	border-bottom: 1px solid #ddd;
}   
    
 .viewProposalarea {
	display: block;
}   
    
.viewproleftsidebare {
	display: block;
	width: 100%;
}    
.viewproleftsidebare a img {
	width: 40%;
	margin-bottom: 15px;
}    
    
 .viewprorightsidearea {
	width: 100%;
	text-align: left;
	border-left: none;
	padding-top: 30px;
	border-top: 1px solid #ddd;
	margin-top: 30px;
}   
.singleMembershipbox{
    margin-bottom: 20px;
}     
.membershiptitle h2{
    font-size: 32px;
}    
 
.allmembershiptablesare {
	display: block;
	background: none;
}    
.singleMembership {
	margin-bottom: 20px;
}    
    
 .singleProCat2 ul li {
	width: calc(100% * (1/1) - 10px - 1px);
	
}    
    
    
.singleFreelancerpro {
	width: calc(100% * (1/1) - 10px - 1px);
}    
        
 .viewpromainavataer {
	margin-right: 15px;
	width: 80%;
}       
    
.viewpropsaltitledesc {
	padding-right: 20px;
	width: 100%;
}    
    
#btnContainer{
    margin-top:15px;
}   
    
 .singlerowjobs .column {
	float: none;
	width: 100% !important;
	margin: 0px auto 20px;
}  
    
.singleconleft a img {
	width: 30%;
	height: auto;
	float: none!important;
	margin-right:0px;
}    
     
.singleConversationfre,    
 .singleConversationbuyer {
	display: block;
}   
    
 .singlecoright {
	text-align: left;
	flex: 1;
	margin-top: 15px;
}   
    
.conversattintile h2 {
	margin: 0px;
	text-align: left;
	font-size: 18px;
}    
    
.hidefrominbox a {
	font-size: 14px;
}    
    
.freelancerprsidebar {
	margin-top: 30px;
}   
.freetoptitledes ul li a {
	margin-bottom: 5px;
}    
    
    
    
    
}
    
    
    
    
    
    
    
    
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
 .headtopcatlistin ul li a {
	padding: 8px 10px;
}
    
.mainavbararea {
	padding: 10px 10px 10px 20px !important;
	margin: 0px !important;
}   
.bannerarea{
    height:100%;
    min-height:100%;
}    
    
.bannerinnform {
	padding-top: 0px;
}    
 .bannerinnform h1 {
	font-size: 32px;
} 
.single_catarea8 a h6, .single_catarea7 a h6, .single_catarea6 a h6, .single_catarea5 a h6, .single_catarea4 a h6, .single_catarea3 a h6, .single_catarea2 a h6, .single_catarea a h6 {
	font-size: 12px;
}    
.filteringjob h4 {
	margin: 0px;
	font-size: 14px;
}
.filterinItems ul li {
	margin-right: 5px;
	padding: 15px 5px;
}    
.sortingtitle h4 {
	margin: 0px;
	font-size: 14px;
}    
  
.singleRproarea h3 {
	font-size: 16px;
} 
    
.searchformbanner input {
	width: 60%;
}    
.searchformbanner button {

	width: 30%;
}    
 .howitowrksinner {
	margin-bottom: 30px;
}
.recentjobsorting {
	-webkit-display: flex;
	display: flex;
	justify-content: start;
	align-content: start;
	padding-bottom: 10px;
}   
.filteringjobarea {
	border-right: none;
	display: flex;
}  
    
.single_brtocatarea {
	margin-bottom: 40px;
} 
  
.copyright p,    
 .socialmedifooter ul {
	text-align: center;
} 
.maincollapsearea ul li a {
	padding: 10px 20px !important;
} 
    
.referbyemail input {
	width: 40%;
}    
.referelpaginner p {
	width: 60%;
}    
.referebysocialmei button {
	margin-right: 10px;
	margin-bottom: 10px;
}     
    
  
 .browseProRightarea {
	margin-top: 20px;
}
        
.single_catarea {
	margin-bottom: 20px;
}
    
.advertisementspace{
    margin-top:20px;
}    
   
.singtimeframonly,    
.singbudgetonly {
	border-right:none;
}    
    
.singlepbudtimearea {
	display: block;
}       
 .singletimeopen {
	text-align: left;
     margin:20px 0px;
}   
.spbidbutton {
	text-align: left;
}
 
.profilephotosize {
	width: 30px;
	height: 30px;
	position: relative;
	left: 0;
	/* padding-right: 10px; */
	top: 0px;
}       
.singleFreeSkills ul li a {
	margin-bottom: 5px;
}     
  
.bordertopareamobile {
	border-top: 1px solid #ddd;
	margin-top: 20px;
}  
    
.awaredeprotitle h2 {
	margin: 0px;
	font-size: 32px;
}    
.awardedProjleftside {
	margin-bottom: 30px;
}    
   
 .viewProposalarea {
	display: block;
}   
    
.viewproleftsidebare {
	display: block;
	width: 100%;
}    
.viewproleftsidebare a img {
	width: 40%;
	margin-bottom: 15px;
}    
    
 .viewprorightsidearea {
	width: 100%;
	text-align: left;
	border-left: none;
	padding-top: 30px;
	border-top: 1px solid #ddd;
	margin-top: 30px;
}       
    
.singleMembershipbox{
    margin-bottom: 20px;
}    
    
.allmembershiptablesare {
	display: block;
	background: none;
}    
.singleMembership {
	margin-bottom: 20px;
}    
        
.singleProCat2 ul li {
	width: calc(100% * (1/2) - 10px - 1px);
	
}   
    
.singleFreelancerpro {
	width: calc(100% * (1/2) - 10px - 1px);
}    
.viewpromainavataer {
	margin-right: 15px;
	width: 80%;
}        
 .viewpropsaltitledesc {
	padding-right: 20px;
	width: 100%;
}  
    
.singleconleft a img {
	width: 30%;
	height: auto;
	float: none!important;
	margin-right:0px;
}    
         
.freelancerprsidebar {
	margin-top: 30px;
}    
    
    
}





/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
 .headtopcatlistin ul li a {
	padding: 8px 10px;
}
    
.mainavbararea {
	padding: 10px 10px 10px 20px !important;
	margin: 0px !important;
}    
  
.single_catarea8 a h6, .single_catarea7 a h6, .single_catarea6 a h6, .single_catarea5 a h6, .single_catarea4 a h6, .single_catarea3 a h6, .single_catarea2 a h6, .single_catarea a h6 {
	font-size: 12px;
}    
.filteringjob h4 {
	margin: 0px;
	font-size: 14px;
}
.filterinItems ul li {
	margin-right: 5px;
	padding: 15px 5px;
}    
.sortingtitle h4 {
	margin: 0px;
	font-size: 14px;
}    
  
.singleRproarea h3 {
	font-size: 16px;
}   
.maincollapsearea ul li a {
	padding: 10px 20px !important;
}      
.referbyemail input {
	width: 40%;
}    
.referelpaginner p {
	width: 60%;
}    
.referebysocialmei button {
	margin-right: 10px;
	margin-bottom: 10px;
} 

.socialmedisignin a {
	margin-bottom: 10px;
}
    
.browseProRightarea {
	margin-top: 20px;
}    
    
 .singbudgetonly ul li span {
	font-size: 16px;
	margin: 8px auto 0px;
}   
.singbudgetonly ul li {
	font-size: 12px;
	margin-right: 10px;
}    
 
.singletimeopen h4 {
	margin-bottom: 0px;
	margin-top: 5px;
	font-size: 15px;
}   
.profilephotosize {
	width: 30px;
	height: 30px;
	position: relative;
	left: 0;
	/* padding-right: 10px; */
	top: 0px;
}  
    
 .awaredeprotitle h2 {
	margin: 0px;
	font-size: 32px;
}    
    
.mtableprice {
	font-size: 32px;
}    
   
.singleMembership {
	padding: 15px;
}    
    
    
    
}




/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px)  {
 .headtopcatlistin ul li a {
	padding: 10px 10px;
}
    
.filterinItems ul li {
	margin-right: 10px;
}  
 .socialmedisignin a {
	margin-bottom: 10px;
}
    
.referebysocialmei button {
	padding: 10px 15px;
	margin-right: 5px;
}    
    
.singleFreeSkills ul li a {
	margin-bottom: 5px;
}   
    
.sfrcbutton {

	justify-content: center;
    align-self: flex-end;
}    
    
    
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}